{% extends 'Patient/base.html' %}
{% block content %}
    <h1 class="page-header">nouvelle consult </h1>
id patient : {{ patient.id }}<br>
nom : {{ patient.nom }}<br>
prénom : {{ patient.prenom }}<br>
        date de naissance : {{ patient.datedenaissance }}<br><br><br>
        patient du user (doctor) : {{ patient.doctor }}<br>
        dont le id_user : {{ patient.doctor.id }}<br>
<br><br><br>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">nouvelle consultation </button>
    </form>
{% endblock %}