{% for patient in patients %}
    <tr>
        <th>{{ patient.id }}</th>
        <th>{{ patient.nom }}</th>
        <th>{{ patient.prenom }}</th>
        <th>{{ patient.datedenaissance }}</th>
        <th>{{ patient.doctor }}</th>
        <th>
            <button class="btn btn-warning show-form-update" data-url="{% url 'patient:patient_update' patient.id %}">
                <span class="glyphicon glyphicon-pencil"></span>
                edit Patient
            </button>
            <button class="btn btn-danger show-form-delete" data-url="{% url 'patient:patient_delete' patient.id %}">
                <span class="glyphicon glyphicon-trash"></span>
                delete Patient
            </button>
            <a href="{% url 'patient:patient_dossier' patient.id %}" class="btn btn-success glyphicon glyphicon-open-file" > dossier </a>
        </th>
    </tr>
{% endfor %}
