{% extends 'Patient/base2.html' %}
{% block content %}
<h1 class="page-header">dossier patient </h1>
id patient : {{ patient.id }}<br>
nom : {{ patient.nom }}<br>
prénom : {{ patient.prenom }}<br>
date de naissance : {{ patient.datedenaissance }}<br><br><br>
    patient du user (doctor) : {{ patient.doctor }}<br>
    dont le id_user : {{ patient.doctor.id }}<br>
<br><br><br>

    <a href="{% url 'patient:nouvelle_consultaion' patient.id %}" class="btn btn-primary glyphicon glyphicon-flash" > nouvelle consultation </a>

    <button class="btn btn-primary show-form" data-url="{% url 'patient:consultation_create' patient.id %}">
        <span class="glyphicon glyphicon-plus"></span>
        nouvelle consultation modal
    </button>


    <table class="table" id="book-table">
        <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>patient</th>
            <th>created_by</th>
            <th>created_at</th>
            <th>intervention</th>
            <th>intervention_date</th>
            <th>asa</th>
            <th>mallampati</th>
        </tr>
        </thead>
        <tbody>
        {% include 'patient/consultation_list_2.html' %}
        </tbody>
    </table>

    <div class="modal fade" id="modal-book"><!-- modal -->
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- ici les content du modal dans patient_create,update,delete.html  -->
            </div>
        </div>
    </div>   <!-- fin modal -->


{% endblock %}